.multiSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.multiSelect__icon {
  width: 20px;
  height: 20px;
  color: rgba(0, 32, 51, 0.35);
}

.multiSelect__head {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 16px;
  border-radius: 6px;
  border: 1px solid rgba(0, 66, 105, 0.28);
  cursor: pointer;
}

.multiSelect__head:focus, .multiSelect__head:active {
  outline: none;
}

.multiSelect__headContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: rgba(0, 32, 51, 0.35);
  margin-top: -8px;
}

.multiSelect__headContentText {
  margin-top: 8px;
}

.multiSelect__headContentValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 7px 6px 14px;
  border-radius: 6px;
  background-color: rgba(0, 66, 105, 0.07);
  font-size: 20px;
  color: rgba(0, 57, 92, 0.8);
  margin-right: 24px;
  margin-top: 8px;
}

.multiSelect__headContentValueIcon {
  margin-left: 8px;
}

.multiSelect__headInteractive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.multiSelect__headInteractiveButton {
  height: 100%;
  margin-right: 16px;
  position: relative;
}

.multiSelect__headInteractiveButton::after {
  content: '';
  width: 1px;
  height: 100%;
  background-color: rgba(0, 66, 105, 0.28);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: -16px;
  z-index: 0;
}

.multiSelect__headInteractiveIcon {
  width: 10px;
  height: 12px;
  margin-left: 16px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.multiSelect__headInteractiveIcon--rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.multiSelect__list {
  width: 100%;
  max-height: 232px;
  border: 1px solid rgba(0, 66, 105, 0.28);
  margin-top: 16px;
  padding: 16px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 0;
  overflow-y: auto;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.multiSelect__list--hide {
  pointer-events: none;
  opacity: 0;
}

.multiSelect__listItem + .multiSelect__listItem .multiSelect__listItemLabel {
  padding-top: 16px;
}

.multiSelect__listItemLabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.multiSelect__listItemLabelCheckbox {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
/*# sourceMappingURL=index.css.map */