@import "settings";

* {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;

  & > div {
    height: 100%;
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}
