.multiSelect {
  $self: &;

  display: flex;
  flex-direction: column;

  &__icon {
    width: 18px;
    height: 18px;
    color: rgba(0, 32, 51, 0.35);
  }

  &__head {
    min-height: 48px;
    display: flex;
    padding: 6px 13px;
    border-radius: 6px;
    border: 1px solid rgba(0, 66, 105, 0.28);
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__headContent {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    color: rgba(0, 32, 51, 0.35);
    margin-top: -8px;
  }

  &__headContentText {
    margin-top: 8px;
  }

  &__headContentValue {
    display: flex;
    align-items: center;
    padding: 6px 4px 6px 12px;
    border-radius: 6px;
    background-color: rgba(0, 66, 105, 0.07);
    font-size: 16px;
    color: rgba(0, 57, 92, 0.8);
    margin-right: 18px;
    margin-top: 8px;
    overflow: hidden;
  }

  &__headContentValueText {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__headContentValueIcon {
    margin-left: 5px;
  }

  &__headInteractive {
    display: flex;
    align-items: center;
    margin-left: -8px;
  }

  &__headInteractiveButton {
    height: 100%;
    position: relative;

    &::after {
      content: '';
      width: 1px;
      height: 100%;
      background-color: rgba(0, 66, 105, 0.28);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      right: -11px;
      z-index: 0;
    }
  }

  &__headInteractiveIcon {
    width: 8px;
    height: 10px;
    margin-left: 24px;
    transition: transform 0.3s ease;

    &--rotate {
      transform: rotate(180deg);
    }
  }

  &__wrapper {
    height: 0;
    padding-bottom: 12px;
    transition: height 0.3s ease;
    overflow: hidden;
  }

  &__list {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 66, 105, 0.28);
    margin-top: 12px;
    padding: 4px 0;
    overflow-y: auto;
  }

  &__listItem {
    &:hover {
      background-color: rgba(0, 66, 105, 0.1);
    }
  }

  &__listItemLabel {
    display: flex;
    align-items: center;
    padding: 7px 13px;
    font-size: 16px;
    cursor: pointer;
  }

  &__listItemLabelCheckbox {
    width: 16px;
    height: 16px;
    margin-right: 9px;
  }
}
